<div class="card border-secondary mb-3">
  <h4 class="card-header">Update Car Details</h4>
  <div class="card-body">
    <p class="card-text">
      <%= render 'form', car_profile: @car_profile %>
    </p>
  </div>
</div>
