<div class="card border-secondary mb-3">
  <h4 class="card-header">Add New Car</h4>
  <div class="card-body">
    <p class="card-text">
      <%= form_for @car, url: cars_path, multipart: true, html: { class: "form-horizontal form-bordered", method: :post } do |f| %>
        <%= render partial: 'form', locals: {f: f, post: @car} %>
      <% end %>
    </p>
  </div>
</div>
